.max-5-characters {
    max-width: 5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    position: relative;
}

.table-container {
    z-index: 0;
}

.customer-table th {
    white-space: nowrap;
    overflow: hidden;
}

.customer-table td:not(:last-child) {
    white-space: nowrap;
    overflow: hidden;
}