.profile {
  max-width: 100vw;
  min-height: 100vh;
}

.avt {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  border: 5px solid rgb(202, 146, 128);
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}