.selected {
  border: 3px solid gray !important;
  position: relative;
}

.selected::before {
  content: "\f00c";
  font-family: "fontawesome";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: blue;

}

.border {
  border: 1px solid black;
}

.disabled {
  opacity: 0.3;
  position: relative;
  border: 1px solid black;
}

.disabled::before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  z-index: 0;
}