.cart-product {
    margin-top: 10px;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
}

.cart {
    min-width: 300px;
    border: 1px solid #919191;
    border-radius: 10px;
}

.cart img {
    border-bottom: 0.5px solid #919191;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.cart-product .information {
    padding: 10px;
    background-color: #f3f3f3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.operation {
    margin-top: 30px;
    min-height: 200px;
    padding-bottom: 40px;
}