.container {
    display: flex;
    width: 100% !important;
}

.cart-product {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    border: 1px solid #919191;
    border-radius: 10px;
}

.cart img {
    border-bottom: 0.5px solid #919191;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.cart-product .information {
    padding: 10px;
    background-color: #f3f3f3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cart-product .information p,
.cart-product .information h5 {
    margin-bottom: 3px;
}

.operation {
    margin-top: 30px;
    min-height: 400px;
}

.cho-xac-nhan {
    color: #ffd700;
}

.dang-xu-li {
    color: #ff8c00;
}

.dang-van-chuyen {
    color: #0000cd;
}

.da-giao-hang {
    color: #008000;
}

.da-huy {
    color: #ff0000;
}


@media screen and (max-width: 478px) {
    .cart {
        width: 100%;
    }
    .info-receive {
        display: block !important;
    }
}