.search-collapse {
    position: absolute;
    width: 400px;
    right: 0;
}

.collapse-container {
    position: relative;
}

.collapse-container a {
    user-select: none;
    cursor: pointer;
}

.search-btn {
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
}

.search-btn:hover {
    color: black;
}