.img {
  max-width: 100%;
}

.title {
  font-size: 1rem;
}

.card-hover:hover {
  box-shadow: 0 0 1px 1px rgb(195, 195, 195);
}

@media screen and (max-width: 790px) {
  .box-footer {
    flex-direction: column !important;
  }

  .box-footer>* {
    width: 100%;
    margin-top: 5px;
  }
}