.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  text-align: center;
}

.login>* {
  width: 100%;
  margin-bottom: 15px;
}

input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px !important;
}

input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}