.nav-left {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(169, 167, 167);
    width: 300px;
    height: 500px;
}

.nav-left {
    margin-top: -6px;
    margin-left: -5px;
}
.nav-left li {
    padding-left: 40px;
    padding-top: 40px;
}
 
@media (min-width: 750px) {
    .nav-left {
        display: none;
    }
  }