#dropdown-menu {
  left: -340% !important;
  top: 150% !important;
}

#dropdown-menu div {
  cursor: pointer;
}
.img {
  object-fit: cover;
}
.nav {
  background-color: #f5f5f5;
}

.cart-btn {
  margin: 0 10px;
}

.flex-end {
  flex: 1;
  display: flex;
  text-align: left;
  cursor: pointer;
  user-select: none;
  font-size: medium;
  justify-content: space-evenly;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.search-phone {
  display: inline-block;
  width: 80%;
  margin: 0 !important;
}

.shopping-cart{
  margin-right: 20px;
}

@media screen and (max-width: 575.5px) {
  .search-lap {
      display: none !important;
  }
}

.menu-cart {
  display: inline-block;
  width: 80%;
  margin: 0 !important;
}

.box-cart{
  height: 91% !important;
}