.container-order {
    background-color: #fff;
    max-width: 100vw;
    min-height: 900px;
}


.btn-group {
    width: 100%;
    flex-wrap: wrap;
}

.activeButton {
    box-shadow: 0px 5px 5px #6c757d;
}

/* filter-order */
.filter-order {
    margin-top: 15px;
}

.form-container {
    @media (min-width: 576px) {
        max-width: 50%;
    }
}

.form-container input {
    margin-right: 5px;
}

.form-container {
    @media (max-width: 576px) {
        flex-direction: column;
    }
}

/* table order */
.order-table {
    overflow: auto;
    max-height: 600px;
}

.max-5-characters {
    max-width: 5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-table th {
    white-space: nowrap;
}

.order-table  td {
    white-space: nowrap;
}

.order-table tr:nth-of-type(2n) {
    background: #f8f8f8;
}

@media screen and (min-width: 900px) {
    .order-table  {
        overflow: auto;
        max-height: 600px;
        width: calc(100vw - 276px);
    }
    
}

@media screen and (min-width: 900px) {
    .container-order {
        max-width: calc(100vw - 256px) !important;
    }
}


.selectedRow {
    background: beige !important;
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
    height: 0px;
}

.order-table::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
}

.expiredDeadline {
    color: red;
}

.cho-xac-nhan {
    color: #ffd700;
}

.dang-xu-li {
    color: #ff8c00;
}

.dang-van-chuyen {
    color: #0000cd;
}

.da-giao-hang {
    color: #008000;
}

.da-huy {
    color: #ff0000;
}
