.btn-group>button {
  border: none;
  background: none;
  padding: 0 5px;
  margin: 0px 5px;
}

.btn-group {
  text-align: right;
  border: 1px solid;
  border-radius: 10px;
}

.remove {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.4s ease-in-out;
}

.remove:hover {
  opacity: 1;
  color: red;
}